# editors
.idea
.vscode

# swaps / caches / logs
*.log*
*.out
*.err
*.swp*
*.swap

# package managers
node_modules

# compiled / generated

# builds
target
dist
build

# binaries
*.exe
*.dll
*.a
*.so
./main
