@import "mixins";

.title {
  font-family: $font-title;
}

.body {
  font-family: $font-body;
}

.flex-vertical {
  @include flex-vertical();
}

.flex-horizontal {
  @include flex-horizontal();
}

.x-center {
  text-align: center;
  &.flex-vertical   { align-items: center; }
  &.flex-horizontal { justify-content: center; }
}

.x-start {
  text-align: center;
  &.flex-vertical   { align-items: flex-start; }
  &.flex-horizontal { justify-content: flex-start; }
}

.x-end {
  text-align: right;
  &.flex-vertical   { align-items: flex-end; }
  &.flex-horizontal { justify-content: flex-end; }
}

.y-center {
  &.flex-horizontal { align-items: center; }
  &.flex-vertical   { justify-content: center; }
}

.y-start {
  &.flex-horizontal { align-items: flex-start; }
  &.flex-vertical   { justify-content: flex-start; }
}

.y-end {
  &.flex-horizontal { align-items: flex-end; }
  &.flex-vertical   { justify-content: flex-end; }
}


.full-size {
  @include full-size();
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.abs {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top {
  top: 0;
}

.bot {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.bg-transparent {
  background-color: transparent;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-active {
  background-color: $active;
}

// TODO: find better gap polyfill
.g-1 {
  //gap: 0.25rem;
    &.flex-horizontal > *:not(:first-child) { margin-left: 0.25rem; }
    &.flex-vertical > *:not(:first-child) { margin-top: 0.25rem; }
}
.g-2 {
  //gap: 0.5rem;
    &.flex-horizontal > *:not(:first-child) { margin-left: 0.5rem; }
    &.flex-vertical > *:not(:first-child) { margin-top: 0.5rem; }
}
.g-3 {
  //gap: 0.75rem;
    &.flex-horizontal > *:not(:first-child) { margin-left: 0.75rem; }
    &.flex-vertical > *:not(:first-child) { margin-top: 0.75rem; }
}
.g-4 {
  //gap: 1rem;
    &.flex-horizontal > *:not(:first-child) { margin-left: 1rem; }
    &.flex-vertical > *:not(:first-child) { margin-top: 1rem; }
}
.g-5 {
  //gap: 1.5rem;
    &.flex-horizontal > *:not(:first-child) { margin-left: 1.5rem; }
    &.flex-vertical > *:not(:first-child) { margin-top: 1.5rem; }
}
.g-6 {
  //gap: 2.5rem;
    &.flex-horizontal > *:not(:first-child) { margin-left: 2.5rem; }
    &.flex-vertical > *:not(:first-child) { margin-top: 2.5rem; }
}
.g-7 {
  //gap: 5rem;
    &.flex-horizontal > *:not(:first-child) { margin-left: 5rem; }
    &.flex-vertical > *:not(:first-child) { margin-top: 5rem; }
}
.g-8 {
  //gap: 10rem;
    &.flex-horizontal > *:not(:first-child) { margin-left: 10rem; }
    &.flex-vertical > *:not(:first-child) { margin-top: 10rem; }
}

.z-1 {
  z-index: -1;
} // unclickable layer
.z0 {
  z-index: 0;
} // basic layer
.z1 {
  z-index: 1;
} // .... higher layers
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
.z6 {
  z-index: 6;
}
.z7 {
  z-index: 7;
}
.z8 {
  z-index: 8;
}
.z9 {
  z-index: 9;
}
.z10 {
  z-index: 10;
}
