@import "constants";
@import "functions";

@mixin font-face($name, $filename, $weight: normal, $style: normal, $exts: woff2 woff ttf eot svg) { // svg as well?
  $src: null;
  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );
  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($font-folder + "/" + $filename + "/" + $filename + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin full-size() {
  width: 100%;
  height: 100%;
}

@mixin full-width() {
  width: 100%;
}

@mixin full-height() {
  height: 100%;
}

@mixin shadow() {
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

@mixin no-shadow() {
  box-shadow: none;
}

@mixin rounded-border() {
  border-radius: 5px;
}

@mixin round() {
  border-radius: 50rem;
}

@mixin flex-vertical() {
  display: flex;
  flex-direction: column;
}

@mixin flex-horizontal() {
  display: flex;
  flex-direction: row;
}

